<layout>
    <header/>
    <sidebar/>
    <!--TODO:this id is just for design,this should be removed-->
    <div id="main-content">
        <ui-view>Default Page</ui-view>
    </div>
    <script>
    </script>
</layout>

