//Tiles Colors
 $orange-tile: #EA6D4E;
 $blue-tile: #2A5A93;
 $green-tile: #16c79e;
 $purple-tile: #a866ee;

.container{
    h1 {
        font-weight: 300;
        height: 42px;
        display: inline-block;
        margin-top: -5px;
    }
    
        #course-tab{
            display: block;
            width: 100%;
            height: 45px;
            position: relative;
            

            a{
                float: right;
                height: 35px;
                background-color: $tab-background-color;
                width: 85px;
            }

            a:focus{
                background-color: $tab-active-background-color;
            }

            a:first-child{
                border-radius: 0px 2px 2px 0px;
            }

            a:last-child{
                border-radius: 2px 0px 0px 2px;
            }
        }

    
    }

    .courses-container{
            .filter-container{
                 display: inline-block;
                 margin-bottom: 15px;

                .filter{
                    float: right;
                    margin-top: 7px;
                    padding-right: 0;
                    
                    .form-control{
                        height: 33px;
                    }

                    .input-group-btn{
                        background-color: $filter-buttons-background-color;

                        button{
                            background-color: $filter-buttons-background-color;
                            color: $filter-buttons-text-color;
                            border: none;
                        }
                }
            }
        }
        
        #list-container{
            position: relative;
            margin-top: 20px;
            margin-left: 0;
            
            .add-course{
                cursor:pointer;    
            }

            .tile-container {
                overflow: auto;
                float: left;
            }
            
            .tile {    
	            width: 250px;
	            box-sizing: border-box;
	            background: #fff;     
	            margin: 0 10px 30px 10px;
	            background-color: $body-bg;
	            height: 200px;
	            position: relative;

	            .delete-btn {
	            	position: absolute;
	            	top: 5px;
	            	right: 5px;
	            	display: none;
				    color: #EA6D4E;
				    background: transparent;
				    border: 2px solid;
				    border-radius: 5px;
				    font-weight: bold;

				    &:hover{
				    	background: rgba(0,0,0,0.1);
				    }
	            }

	            &:hover {
	            	.delete-btn {
	            		display: block;
	            	}
	            	&.add-course {
		            	.title {
		            		p{
	            				color: #EA6D4E;
		            		}
		            	}
		            }
	            }
	         
	            $department-padding-left: 5px;

	            .department{
	                padding-left:    $department-padding-left;
	                padding-top: 10px;
	                height: 20%;
	                width: 100%;
	                
	                .activity-type-span{
	                    background-color: #535F71;
	                    font-size: 80%;
	                    cursor: pointer;
	                }
	            }
	            
	            .line{
	                height: 2px;
	                width: 100%;
	                background-color: $filter-buttons-background-color;
	                margin-left: 0;
	                margin-bottom: 0;
                    min-width: 0;
	            }

	            .title {
	                margin-top: 0px;
	                padding: 10px 20px 10px 20px;
	                text-align: center;
	                height: 60%;
	                cursor: pointer;
	            }
	            
	            .details{
	                height: 45px;
	                width: 100%;
	                background-color: $green-tile;
	                height: 22%;

	                p{
	                    padding: 15px;
	                    color: #fff;
	                }
	            }

	            &.add-course {
	            	.title {
	            		p{
	            			font-size: 150px;
	            			line-height: 100px;
	            		}
	            	}
	            }

            }                                 
        }
     
    
        
    }

//Auto-select
.auto-select{
    
    .select-container{
        margin-bottom: 5px;
        
        label{
            display: block;
        }
        
    
        
        .btn-group{
            width: 100% !important;
            
            .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
                background-color: #16c79e;
            }
        }
        &.department-select, &.section-select {
            .btn-group {
                width: auto !important;
                float: left;
                margin-bottom: 10px;
                margin-right: 10px;
            }
        }
    }
 
}

