#grades-dashboard, #schedule-dashboard, #subjects-dashboard {
  background-color: #E0EAE0;
  border: 1px solid #008000;
  /*border-radius: 5px;*/

  .title-link {
    padding: 15px;
    text-align: center;

    a {
      font-size: 26px;
      color: #16c79e;

      &:hover {
        text-decoration: none;
        color: #535F71;
      }
    }
  }
}

.dashboard-container {
  #first-dashboard-container, #second-dashboard-container {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  #first-dashboard-container, #second-dashboard-container, #third-dashboard-container {
    float: left;
    width: 50%;
    height: 400px;
    padding: 1%;
    overflow-y: auto;
    margin: 0 0 20px 0;
  }

  #third-dashboard-container {
    width: 100%;
  }

}

#schedule-dashboard {
  position: relative;

  table {
    width: calc(100% - 20px);
    margin: 0 10px;
    thead {
      th {
        text-align: center;
        width: 18%;
        &:first-child {
          width: 10%;
        }
      }
    }
    tbody {
      tr {
        height: 50px;

        td {
          border: 1px solid #D4D4D4;
          width: 18%;

          &:first-child {
            width: 10%;
            text-align: center;
            padding: 5px 10px;
          }
        }
      }
    }
  }

  #schedule-table-header {
    margin-right: calc(10px + 17.5px);
    width: calc(100% - 20px - 17.5px);
    margin-bottom: 5px;
  }

  #schedule-table-container {
    height: calc(100% - 67px - 19px - 10px * 2);
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    table {
      .bubble {
        width: calc(100% - 10px);
        height: 45px;
        line-height: 45px;
        margin: auto;
        border-radius: 5px;
        border: 1px solid black;
        text-align: center;
        padding: 0 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;

        &.double {
          height: 90px;
          line-height: 90px;
        }

      }
    }
  }
  .course {
    background-color: #16A6C7;
  }
  .laboratory {
    background-color: #16c79e;
  }
  .seminar {
    background-color: #39C716;
  }

  .legend {
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;

    .box {
      width: 10px;
      height: 10px;
      margin: 5px;
      float: left;
    }
    .group {
      float: left;
      margin: 5px 10px;
    }
  }

}

#subjects-dashboard {
  overflow: auto;
  background-color: #F6DDD7;
  border-color: #EA6D4E;

  .title-link {
    a {
      color: #EA6D4E;
    }
  }

  h2 {
    margin-left: 10px;
  }

  .line {
    margin-left: 10px;
  }

  #list-container {
    position: relative;
    margin-top: 20px;
    margin-left: 0;

    .tile-container {
      overflow: auto;
      float: left;
    }

    .tile {
      width: 250px;
      background: #fff;
      margin: 0 10px 30px 10px;
      background-color: $body-bg;
      height: 200px;
      position: relative;
    }

    $department-padding-left: 5px;

    .department {
      padding-left: $department-padding-left;
      padding-top: 10px;
      height: 20%;
      width: 100%;

      .activity-type-span {
        background-color: #535F71;
        font-size: 80%;
        cursor: pointer;
      }
    }

    .line {
      height: 2px;
      width: 100%;
      background-color: $filter-buttons-background-color;
      margin-left: 0;
      margin-bottom: 0;
      min-width: 0;
    }

    .title {
      margin-top: 0px;
      padding: 10px 20px 10px 20px;
      text-align: center;
      height: 60%;
    }

    .details {
      height: 45px;
      width: 100%;
      background-color: $green-tile;
      height: 22%;

      p {
        padding: 15px;
        color: #fff;
      }
    }

  }

}

#grades-dashboard {
  position: relative;
  overflow: auto;
  background: aliceblue;
  border-color: #00A8F9;

  .title-link {
    a {
      color: #16A6C7;
    }
  }

  .student-container {
    width: 100%;
    padding: 10px;
    overflow: auto;

    border-left: 4px solid;

    &:nth-child(3n + 0) {
      border-color: orange;
    }
    &:nth-child(3n + 1) {
      border-color: aqua;
    }
    &:nth-child(3n + 2) {
      border-color: #7A63D8;
    }

    .avatar {
      float: left;
      clear: left;

      img {
        border: 2px solid #16c79e;
        width: 50px;
        height: 50px;
      }
    }

    .info {
      height: 50px;
      margin-top: 5px;
      margin-left: 10px;
      text-align: center;
      font-weight: bold;
      float: left;

      .title {
        a {
          color: #16A6C7;
          cursor: default;

          &:hover {
            text-decoration: none;
          }
        }
      }
      .desc {
        /*color: white;*/
      }
    }

    .grade-details {
      float: left;
      clear: left;
      width: 100%;
      .alert {
        margin-top: 0;
        text-align: center;
        color: #39579C;
        background-color: #C3E2FD;
        border-color: #6FC6F1;

        .badge {
          background-color: #31708F;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .dashboard-container {
    #first-dashboard-container, #second-dashboard-container, #third-dashboard-container {
      float: none;
      width: 100%;
      padding: 0;
    }
  }
}