@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?wai0py');
    src:    url('fonts/icomoon.eot?wai0py#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?wai0py') format('truetype'),
        url('fonts/icomoon.woff?wai0py') format('woff'),
        url('fonts/icomoon.svg?wai0py#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 18px;
}

.icon-files:before {
    content: "\e903";
}
.icon-dashboard:before {
    content: "\e904";
}
.icon-school:before {
    content: "\e901";
}
.icon-lamp:before {
    content: "\e902";
}
.icon-bank:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e906";
}
.icon-book:before {
    content: "\e91f";
}
.icon-books:before {
    content: "\e920";
}
.icon-file-empty:before {
    content: "\e924";
}
.icon-file-text2:before {
    content: "\e926";
}
.icon-calendar:before {
    content: "\e953";
}
.icon-users:before {
    content: "\e972";
}

