html {
  height: 100%;
}

body {
  // background-size: cover;
  font-family: 'Roboto', sans-serif;
  // margin: 0;
  height: 100%;
  background: $body-bg;
}

table.table {
  &, th, td {
    border: none;
  }
}

 #view{
 	position: absolute;
 	width:100%;
 	height: 100%;
// 	padding: 3%;
// 	background-color: $body-bg;
 }

.pager {
	.previous, .next {
		overflow: auto;
		display: block;
		a {
			line-height: 20px;
			width: 110px;
			cursor: pointer;
			span {
				font-size: 18px;
			}
		}
	}
	.previous {
		float: left;
		clear: left;
	}
	.next {
		float: right;
	}
}
.btn-success {
	background: #16c79e !important;
	&:hover {
		background: #069876 !important;
	}
}
.modal {
	.modal-header {
		.btn-default {
			padding: 0 10px;
			line-height: 34px;
		}
		.modal-title {
			line-height: 36px;
		}
	}
	.modal-content {
		input[type=text], input[type=email], input[type=tel], input[type=password] {
		    height: 34px;
		    padding: 6px 12px;
		    font-size: 14px;
		    line-height: 1.42857;
		    color: #555;
		    background-color: #fff;
		    background-image: none;
		    border: 1px solid #ccc;
		}
		.bootstrap-select.btn-group {
			width: 100% !important;
		}
		.select-container {
			margin-bottom: 10px;
		}
		.ui-slider-range{
			background-color: #16c79e;
            border-color:#16c79e;
		}
		textarea{
			border-color:#16c79e;
			max-width: 100%;
		}
	}
    .modal-footer{
		.btn-group{
			float: right;
		}
		
        .btnYes{
            background-color: #16c79e;
            border-color:#16c79e;
        }
        
        .btnYes:hover{
            background-color: #16c79e;
            border-color:#16c79e;
        }
         .btnCancel{
            background-color: $button-background-color;
            border-color: $button-background-color;
        }
        .btnCancel:hover{
            background-color: $button-hover-background-color;
            border-color: $button-hover-background-color;
        }
    }
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background: #069876;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=password]:focus, select:focus {
	border-color: #16c79e !important;
	outline-color: #16c79e !important;
}

.line{
	height: 2px;
	width: 30%;
	min-width: 300px;
	background-color: $filter-buttons-background-color;
    margin-bottom: 15px;
}

.pointer {
	cursor: pointer;
}

a:focus {
	border: none;
	outline: none;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.no-filters-message{
	text-align: center;
	margin: auto;
	width: 50%;
	min-width: 400px;
}
.error{
	color: red;
	margin-top: 2px;
}