.grades-container{
    .auto-select{
       margin-bottom: 15px;     
    }
    
    .modal{
        text-align: left;
    }
    
    .student-container{
        display: inline-block;
        text-align: center;
        margin: 30px 0px 0px 0px;
        
        .avatar{
            cursor:pointer;
            
            img{
                border:2px solid #16c79e;
                width: 100px;
                height: 100px;
            }
        }
        
        .info{
            text-align: center;
            font-weight: bold;

            .title {
                a:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            
        }
    }
}
