.navbar-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $navbar-container-background-color;
  height: $navbar-container-height;

  .navbar {
    margin: 0;
    border: none;
  }

  .navbar-header {
    background-color: $navbar-header-background-color;
    width: $navbar-header-width;
    height: 100%;

    .navbar-brand {
      color: $navbar-header-text-color;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0;
      line-height: $navbar-container-height;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 25px;
      }
    }
  }

  .navbar-right {
    li {

      div {
        padding-top: 5px;

        #user-data {
          display: inline-block;
          margin-right: 5px;
          color: $navbar-text-color;

          .img-circle {
            width: 35px;
            height: 35px;
            margin-right: 5px;
            border: 1px solid $navbar-text-color;
          }

        }

        a {
          margin-right: 10px;
          color: $navbar-text-color;

          .glyphicon {
            font-size: 17px;
            top: 3px;
          }
        }

        a:hover {
          color: $navbar-text-color-hover;
          text-decoration: none;
        }
        .logout-link {
          margin-right: 30px;
        }
      }
    }
  }
}

#sidebar-wrapper {
  width: $navbar-header-width;
  background-color: $sidebar-background-color;
  position: fixed;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease 0s;

  .sidebar-nav {
    margin: 50px 0 0;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      line-height: 40px;
      text-align: left;

      a {
        color: $sidebar-text-color;
        display: block;
        text-decoration: none;

        span {
          margin-left: 15px;
        }

        &.selected {
          background-color: $body-bg;
          color: $sidebar-background-color;
        }
      }

      a:hover {
        background-color: $sidebar-background-hover;
        color: $sidebar-hover-text;
      }

    }
  }
}

#main-content {
  width: 100%;
  transition: all 0.6s ease 0.2s;
  padding: 0 0 0 $navbar-header-width;
}

#main-content .container-fluid {
  $main-content-margin: 30px !default;
  margin: $main-content-margin;
  background: $navbar-container-background-color;
  min-height: 400px;
  padding: 30px;
}

//gradient idea as background
// .gradient-pattern {
//   -webkit-box-sizing: content-box;
//   -moz-box-sizing: content-box;
//   box-sizing: content-box;
//   width: 320px;
//   height: 320px;
//   border: none;
//   font: normal 100%/normal Arial, Helvetica, sans-serif;
//   color: rgba(255,255,255,1);
//   -o-text-overflow: clip;
//   text-overflow: clip;
//   background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(220,220,220,0.7);
//   background: -moz-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(220,220,220,0.7);
//   background: linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(220,220,220,0.7);
//   background-position: -1px -1px;
//   -webkit-background-origin: padding-box;
//   background-origin: padding-box;
//   -webkit-background-clip: border-box;
//   background-clip: border-box;
//   -webkit-background-size: 1px 20px, 18px 20px;
//   background-size: 1px 20px, 18px 20px;
// }

.menu-button-expand {
  display: none;

  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 30px;
  color: white;
  margin: 5px;
  float: left;
}

.navbar-container {
  z-index: 1000;
}

@media (max-width: 767px) {

  #sidebar-wrapper {
    transform: translate(-100%, 0);
    opacity: .6;
  }

  #main-content {
    padding: 0;
  }

  #main-content .container-fluid{
    margin: 10px;
  }

  .navbar-right {
    float: right;
    margin: 0;
  }
  .navbar-header {
    float: left;
  }
  .menu-button-expand {
    display: block;
  }
  .navbar-brand {
    width: auto !important;
  }

  #overlay {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    opacity: 0.5;
    background-color: black;
  }
}

@media (max-width: 430px) {
  .navbar-container {
    .navbar-header {
      width: auto;
      padding-right: 10px;

      .navbar-brand {
        i.icon-lamp {
          position: relative;
          top: 5px;
        }
      }
      .logo-text {
        display: none;
      }
    }
  }
}

@media (max-width: 315px) {
  .navbar-container {
    .navbar-header {
      .navbar-brand {
        display: none;
      }
    }
  }
}
