.authentication-container {
	background-color: #242E38;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	.authentication-box {
		width: 400px;
		margin: 100px auto;

		h2 {
			color: white;
			margin: 20px 0;
			span {
				color: #16A085;
				[class^="icon-"], [class*=" icon-"] {
					font-size: 30px;
				}
			}
		}
		button {
			background-color: #16A085;
			border: none;
			color: white;
			width: 100%;
			border-radius: 30px;
			padding: 10px;
			font-size: 16px;
			margin: 30px 0 10px 0;
		}
		button:focus {
			border: none;
			outline: none;
		}
		input {
			color: white;
			background-color: transparent;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid #566E86;
			width: 100%;
			padding: 10px 0;
			margin: 5px 0;
		}
		input:focus {
			border-top: none !important;
			border-left: none !important;
			border-right: none !important;
			border-bottom: 1px solid #566E86 !important;
			outline: none !important;
		}
		input::-webkit-input-placeholder {
			color: #566E86;
		}

		.forget-link {
			color: #566E86;

			&:hover {
				color: white;
				text-decoration: none;
			}
		}
	}
}
