// not permanent
// helps me
// do not delete, please.


$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #F1F3F2 !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;
//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;


//== Navbar
//
//##
$navbar-container-background-color: #F9F9FA !default;
$navbar-header-text-color: #F1F3F2 !default;
$navbar-header-background-color:  #16c79e !default;
$navbar-header-width: 200px !default;
$navbar-text-color: #16c79e !default;
$navbar-text-color-hover: #535F71 !default;
$navbar-container-height: 50px !default;

//==Sidebar
//
//##
$sidebar-background-color: #535F71 !default;
$sidebar-text-color: #F1F3F2 !default;
$sidebar-hover-text: #16c79e !default;
$sidebar-background-hover: #557586 !default;

//==Filter
//
//##
$filter-buttons-background-color: #223957 !default;
$filter-buttons-text-color: #fff !default;

//==Tabs
//
//##
$tab-background-color: #16c79e !default;
$tab-active-background-color: #3E96A2 !default;

//==Buttons
//
//##
$button-background-color: #EA6D4E  !default;
$button-hover-background-color: #c74b16 !default;