.container{
  h1 {
    font-weight: 300;
    height: 42px;
    display: inline-block;
    margin-top: -5px;
  }
  
}

.sections-container{
    width: 100%;
    margin-top: 15px;
    margin-right: 0;
    margin-left: 0;
    
    .submenu{
        margin-left: 10px;
        margin-bottom: 10px;
        
        .addSection{
            width: 100px;
            border-radius: 2px;
            background-color: #16c79e;
            border-color:#16c79e;
            margin-bottom: 2px;
        }
    }
    
    tbody{
        tr{
            td {
                #deleteSection{
                    border-radius: 2px;
                    background-color: $button-background-color;
                    border-color: $button-background-color;
                    margin-bottom: 2px;
                }
                
                #deleteSection:hover{
                    background-color: $button-hover-background-color;
                    border-color: $button-hover-background-color;
                }
                
                #deleteSection:focus{
                    background-color: $button-hover-background-color;
                    border-color: $button-hover-background-color;
                }
                
                .deleteSectionModal{
                    .btnCancel{
                         background-color: $button-background-color;
                         border-color: $button-background-color;
                    }
                    
                    .btnCancel:hover{
                        background-color: $button-hover-background-color;
                        border-color: $button-hover-background-color;
                    }
                    
                    .btnYes{
                        background-color: #16c79e;
                        border-color:#16c79e;
                    }
                    
                    .btnYes:hover{
                        background-color: #16c79e;
                        border-color:#16c79e;
                    }
                }
            }
        }
        
        tr:hover{
            td{
               color: #16c79e;
            }
            .modal-dialog{
                   .modal-body{
                       color: black;
                   }
                   
                   .modal-header{
                       color: #333;
                   }
               }
        }
        
    }
}

#addSectionModal{
    .modal-body{
        input{
            height: 35px;
        }
        .select-container{
            margin-bottom: 5px;
            
            label{
            display: block;
            }
            
            .btn-group{
                width: 100% !important;
               button{
                    background-color: #16c79e;
                    border-color: #16c79e;
                }
                
                .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
                    background-color: #16c79e;
                }
                
                .dropdown-menu >li > a{
                    width: 100%;
                }
                
            }
        }
    }
    
     .modal-footer{
		.btn-group{
			float: right;
		}
     }
    
}
