.container{
  h1 {
    font-weight: 300;
    height: 42px;
    display: inline-block;
    margin-top: -5px;
  }

 
}

.users-container{
    height: calc(100% - #{100px});
    width: 100%;
    
    .filter-container{
        display: inline-block;
        margin-bottom: 15px;
    
        .filter{
          float: right;
          margin-top: 7px;

            .form-control{
              height: 33px;
            }

            .input-group-btn{

              button{
                background-color: $filter-buttons-background-color;
                color: $filter-buttons-text-color;
                border: none;
                
              }
              
              input {
                min-width: 150px;
                width: 25%;
                float: right;
                margin-right: 10px;
                border-radius: 0;
              }
            }
        }
    }
  
    li{
        list-style: none;
        
        .thumbnail{
          border-radius: 0;
          background-color: $body-bg;
          cursor:pointer;
          
          img{
            width: 70px;
            height: 70px;
          }
          
          .caption{
            display: inline-block;
            padding:7px;
          }
        }
    }
}



