<students-dash-list>
        <div  class="student-container" each="{current_grades}">
            <student-dash data="{this}">
            </student-dash>
        </div>
    <script>
        this.filterNotOk = true;
        this.subjectsNotFount = true;
        this.current_grades = [];
          
          
        
        this.on("updated", function(){
            this.current_grades = $.extend(true, [], this.opts.grades);
            console.log("da")
            while(this.current_grades.length > 4){
                this.current_grades.splice(0,1);
            }
          
        
            // for(var i = 0; i<= this.current_students.length - 1; i++){
            //     $.extend(this.current_students[i], {"grade": this.grade[i]});
            //     $.extend(this.current_students[i], {"subject": this.subject[i]});
            //     $.extend(this.current_students[i], {"date": this.date[i]});
            // }
            // this.filterNotOk = true;
            // if(this.opts.subjects){
            //     this.filterNotOk = false;
            //     if(this.opts.subjects.length != 0) {
            //         this.subjectsNotFount = false;
            //     }
            //     else {
            //         this.subjectsNotFount = true;
            //     }
            // }
        });
    </script>    
</students-dash-list>