<subject-container>
    <h1>Container</h1>
    <subject-list subjects="{this.opts.state.subjects}">
        <subject subject="{subject}" />
        <p>Remove</p>
    </subject-list>
    <script>

    </script>
</subject-container>