<subject>
    <div class="tile">
        <div class="department">
            <p if="{displayed_activity.length != 0}"><span class="label label-default" onclick="{add_activity_type}">{displayed_activity}</span></p>
            <p if="{displayed_activity.length == 0}" ><span  class="label label-default" onclick="{add_activity_type}"
        </div>
        <div class="line"></div>
        <div class="title">
            <p>{this.state.name}</p>
        </div>
        <div class="title">
            <p>{this.state.discipline_type.name}</p>
        </div>
        <div class="title">
            <p>{this.state.examination_type.name}</p>
        </div>
        <div class="title">
            <p>{this.state.discipline_type.name}</p>
        </div>
        <div class="details" style="background-color: #EA6D4E">
            <p><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Teacher name</p>
        </div>
    </div>
    this.state = this.opts.subject
</subject>